{{#if productsExist}}
<h2>Cart</h2>
<a href="/products">Home</a>
<ul>
    <li>Cart id: {{cartId}}</li>
{{#each products}}
<div>
    <p>Product "{{this.productID.title}}"</p>
    <img src={{this.productID.thumbnail}}>
    <li>Description : {{this.productID.description}}</li>
    <li>Price : {{this.productID.price}}</li>
    <li>Category : {{this.productID.category}}</li>
    <li>Quantity: {{this.quantity}}</li>
</div>
<button onclick="del('{{this._id}}', '{{../cartId}}')">
    Delete product
</button>
{{/each}}
</ul>
{{else}}
<h2>There are no products</h2>
<a href="/home">Home</a>
{{/if}}