<h1>Welcome {{user.username}}</h1>
<p>E-mail: {{user.email}}</p>
{{#if admin}}
<h1>Admin Product</h1>
<div class="form">
    <form action="/api/products" method="post">
        <label for="title">Title</label>
            <input name="title" type="text">
        <label for="description">Description</label>
            <input name="description" type="text">
        <label for="code">Code</label>
            <input name="code" type="text">
        <label for="price">Price</label>
            <input name="price" type="number">
        <label for="stock">Stock</label>
            <input name="stock" type="number">
        <label for="category">Category</label>
            <input name="category" type="text">
        <button type="submit">Create Product</button>
    </form> 
</div>
{{/if}}
{{#if premium}}
<h1>Premium Product</h1>
<div class="form">
    <form action="/api/products" method="post">
        <label for="title">Title</label>
            <input name="title" type="text">
        <label for="description">Description</label>
            <input name="description" type="text">
        <label for="code">Code</label>
            <input name="code" type="text">
        <label for="price">Price</label>
            <input name="price" type="number">
        <label for="stock">Stock</label>
            <input name="stock" type="number">
        <label for="category">Category</label>
            <input name="category" type="text">
        <button type="submit">Create Product</button>
    </form> 
</div>
{{/if}}
<a href="/profile">Profile</a>
<a href="/cart">Cart</a>
<a href="/users">Users</a>
{{#if productsExist}}
<h2>Products</h2>
<ul>
    <li>Cart id: {{cartId}}</li>
{{#each products}}
<div>
    <p>Product "{{this.title}}"</p>
    <img src={{this.thumbnail}}>
    <li>Id : {{this._id}}</li>
    <li>Description : {{this.description}}</li>
    <li>Code : {{this.code}}</li>
    <li>Price : {{this.price}}</li>
    <li>Status : {{this.status}}</li>
    <li>Stock : {{this.stock}}</li>
    <li>Category : {{this.category}}</li>
    {{#if ../admin}}
    <li>Owner : {{this.owner}}</li>
    {{/if}}
    {{#if ../premium}}
    <li>Owner : {{this.owner}}</li>
    {{/if}}
</div>
<button onclick="add('{{this._id}}', '{{../cartId}}')">
    Add to cart
</button>
{{#if ../admin}}
<button onclick="deleteProduct('{{this._id}}')">
    Delete product
</button>
{{/if}}
{{#if ../premium}}
<button onclick="deleteProduct('{{this._id}}')">
    Delete product
</button>
{{/if}}
{{/each}}
</ul>
{{else}}
<h2>There are no products</h2>
{{/if}}
