<h1>Welcome {{user.username}}</h1>
<p>Mail: {{user.mail}}</p>
{{#if productsExist}}
<h2>Products</h2>
<ul>
    <li>Cart id: {{cartId}}</li>
{{#each products}}
<div>
    <p>Product "{{this.title}}"</p>
    <img src={{this.thumbnail}}>
    <li>Id : {{this._id}}</li>
    <li>Description : {{this.description}}</li>
    <li>Code : {{this.code}}</li>
    <li>Price : {{this.price}}</li>
    <li>Status : {{this.status}}</li>
    <li>Stock : {{this.stock}}</li>
    <li>Category : {{this.category}}</li>
    <li>Cart id : {{cartId}}</li>
</div>
<button onclick="addToCart({{cartId}}, {{this._id}})">
    Add to cart
</button>
{{/each}}
</ul>
{{else}}
<h2>There are no products</h2>
{{/if}}
